# for the hardware env
dynamixel-sdk
pyserial # for the imu
numpy
opencv-python
pyapriltags


# for the sim env
gymnasium
mujoco
imageio # for rendering mujoco
scipy

# algorithms
torch==2.6.0 #version compatible with 12.45 cuda driver
matplotlib
skrl

# others
tyro
pandas
mediapy
wandb
